#myImg {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.4;
    max-width: 100%;
    height: auto;
}
.empty{
    height: 70vh;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color:white;

    &:not(:last-child){
        border-bottom:inset 2px oldlace;
    }
    &>*{
        margin:1rem;
    }
}

.imgBox{
    flex:0 0 6rem;
    .img{
        width: 100%;
    }
}

.desc{
    flex:1;
}
.qty{
    width: 3rem;
    text-align: center;
}
.checkout{
    flex-basis:100%;
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(2,8rem);
    gap:1rem;
    margin-top:1rem;
    padding: .5rem;
    color:white;


}
b{
    justify-self: end;
}
.btn{
    grid-column: 1/-1;
}
.btn-edit{
    border: none;
    outline: none;
    background: rgb(18, 199, 42);
    padding: 10px;
    border-left:  1px solid rgba(0, 0, 0, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
    &:hover {
        color: rgb(16, 150, 29);
        background-color: #fff ;
        border: 1px solid rgb(16, 150, 29) ;
}

}

.info{
    color:white;
    
}
a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}