<footer  >
    <div class="container  main-footer-container ">
        <h5 class="footer-name">Games Emporium</h5>
        <ul class="nav footer-nav">
        <li><a href="https://www.xbox.com/en-US/" target="_blank"><img src="/assets/images/xbox-ico.jpeg" width="50px"></a> </li>
        <li><a href="https://youtube.com" target="_blank"><img src="/assets/images/youtube.jpeg" width="50px"></a></li>
        <li><a href="https://playstation.com" target="_blank"><img src="/assets/images/playstation_icon.jpeg" width="50px"></a></li>
        </ul>
    </div>
</footer>
