<img src="assets/images/evolution-of-gaming-consoles.jpeg" id="myImg"/>
<div class="content">
  <div class="container content-section">
        <h1 class="section-header">Consoles & Accesories</h1>
      <div class="shop-items">

        <div class="shop-item">
          <span class="shop-item-title">PlayStation</span>
          <img class="shop-item-image" src="/assets/images/consoles/playStation.jpeg" width="200" alt="">
          <div class="shop-item-details">
            <span class="shop-item-price testprice">100.99$</span>
            <button  class=" btn  btn-sm btn-primary shop-item-button" type="button"> <img src="/assets/images/icon/add-cart.png"></button>
          </div>
        </div>

        <div class="shop-item">
          <span class="shop-item-title">PSP</span>
          <img class="shop-item-image " src="/assets/images/consoles/psp.jpeg" width="200" alt="">
          
          <div class="shop-item-details">
            <span class="shop-item-price">100.99$</span>
            <button class=" btn btn-sm btn-primary shop-item-button" type="button"> <img src="/assets/images/icon/add-cart.png"></button>
          </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">XBox One</span>
            <img class="shop-item-image" src="/assets/images/consoles/xbox.jpeg" width="200" alt="">
            
            <div class="shop-item-details">
            <span class="shop-item-price">120.99$</span>
            <button class=" btn btn-sm btn-primary shop-item-button"type="button"> <img src="/assets/images/icon/add-cart.png"></button>
          </div>
        </div>
        <div class="shop-item">
        <span class="shop-item-title">N64</span>
          <img class="shop-item-image" src="/assets/images/consoles/n64.jpeg" width="200" alt="">
          <div class="shop-item-details">
            <span class="shop-item-price">92.99$</span>
            <button class=" btn btn-sm btn-primary shop-item-button" type="button"> <img src="/assets/images/icon/add-cart.png"></button>
          </div>
        </div>
        <div class="shop-item">
          <span class="shop-item-title">Nintendo</span>
            <img class="shop-item-image" src="/assets/images/consoles/nintendo.jpeg" width="200" alt="">
            <div class="shop-item-details">
              <span class="shop-item-price">92.99$</span>
              <button class=" btn  btn-sm btn-primary shop-item-button" type="button"> <img src="/assets/images/icon/add-cart.png"></button>
            </div>
          </div>
      <div class="shop-item">
        <span class="shop-item-title">Sega</span>
        <img class="shop-item-image" src="/assets/images/consoles/sega.jpeg" width="200" alt="">
        <div class="shop-item-details">
          <span class="shop-item-price">72.99$</span>
          <button class=" btn btn-sm btn-primary shop-item-button" type="button"> <img src="/assets/images/icon/add-cart.png"></button>
        </div>
      </div> 
      <div class="shop-item">
        <span class="shop-item-title">Wheels</span> 
          <img  class="shop-item-image" src="/assets/images/consoles/xbox-aa1.jpeg" width="200" alt="">
        <div class="shop-item-details">
          <span class="shop-item-price">20.99$</span>
          <button class=" btn btn-sm btn-primary shop-item-button"  type ="button"> <img src="/assets/images/icon/add-cart.png"></button>
          </div>
        </div>
      <div class="shop-item">
        <span class="shop-item-title">Guitars</span>
        <img class="shop-item-image" src="/assets/images/consoles/xbox-aa2.jpeg" width="200" alt="">
        <div class="shop-item-details">
          <span class="shop-item-price">32.99$</span>
          <button class=" btn btn-sm btn-primary shop-item-button"  type ="button"> <img src="/assets/images/icon/add-cart.png" > </button>
        </div>
    </div>
    <div class="shop-item">
      <span class="shop-item-title">Headsets</span>
      <img class="shop-item-image" src="/assets/images/consoles/xbox-aa3.jpeg" width="200" alt="">
      <div class="shop-item-details">
        <span class="shop-item-price">32.99$</span>
        <button class=" btn btn-sm btn-primary shop-item-button"  type ="button"> <img src="/assets/images/icon/add-cart.png" > </button>
      </div>
  </div>
    </div>
  </div>

  

  <div class="container content-section">
      <h2 class="section-header" >Cart</h2>
      <div class="cart-row">
        <span class="cart-item cart-header cart-column">Item</span> 
        
      </div>
      <div class="cart-items">
      </div>
      <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <Span class="cart-total-price">$0</Span>
      </div>
      <button  class="btn btn-primary btn-purchase" type="button">Purchase</button>
  </div>
</div>