#myImg {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.4;
    max-width: 100%;
    height: auto;
}

.card{
    width: 280px;
    margin: 10px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(18, 199, 42, 0.4);
    margin: auto;
    margin-bottom: 20px;
    box-shadow:4px 3px 8px 0px rgb(18, 199, 42);
    cursor: pointer;
    

    &:hover{
        box-shadow: 4px 3px 11px 6px rgb(18, 199, 42);
        transform: translateY(-3px);
    }
}
.row{
    margin-top: 20px;
}


h3{
    color:white;
    text-decoration: none;
    text-align: center;
    
}
.desc{
    overflow:scroll ;
}